body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

button {
  display: block;
  padding: 10px 20px;
  border: none;
  background: mediumseagreen;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1rem;
}